* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 212, 212);
    min-height: 10vh;
    flex-wrap: wrap;
    max-width: 100vw;
}
.nav ul {
    display: flex;
    list-style: none;
    width: 40vw;
    min-width: 600px;
    justify-content: space-evenly;
   
}
.nav a {
    text-decoration: none;
    color: white;
}
.main {
   flex-wrap: wrap;
    min-height: 80vh;
    
}

.main div{
    background: linear-gradient(rgba( 5,7,12,0.75) , rgba(5,7,12,0.75)), url(../recursos/img/bannerdef.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
 text-align: center;
    height: 600px;
    width: 100vw;
    color: white;
    
}
.articulos {
    background-color: black;
    display: flex;
    justify-content: space-around;

}




.articulo-1 img {
    height: 400px
    


}

.articulo-2 img {
    height: 400px
   


}


.articulo-3 img {
    height: 400px
   
}


.producto-1 img {
    height: 500px;
    
}


.producto-2 img {
    height: 500px;
    
}



.producto-3 img {
    
    height: 500px;
}


.producto-4 img {
    height: 500px;
    
}


#main-distribucion img {
    height: 500px;
}

.colores-simil-madera img {
    height: 450px;
}

.colores-pintura img {
    width: 700px;
}

.colores-microtexturado img {
    height: 450px;
}

.aluar img {
    height: 450px;
}


#main-distribucion p {
    background-color: darkolivegreen;
}
.footer {
    display: flex;
    background-color: rgb(92, 92, 92) ;
    color: rgb(168, 168, 168);
    justify-content: center;
    min-height: 10vh;
    flex-wrap: wrap;
    
}
/* .redes {
    color: rgb(168, 168, 168);
    display: flex;
    justify-content: space-around;
    
} */
 /* mobile last */
@media (max-width: 799px) {
    .header {justify-content: center;}
}


