* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header{

    background-color: rgb(212, 212, 212);
    /* min-height: 10vh;
    max-width: 100vw; */
    color: white;
    text-decoration: none;
}


.navbar-nav a{
    color: white;
   font-size:20px;
}
.navbar-nav {
    align-items: center;
}
.jc-c {
    justify-content: flex-end;
}


.main {
    min-height: 80vh;
    max-width: 100vw;

}

.banner{
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../recursos/img/bannerdef.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 600px;
    max-width: 100vw;
    color: white;
    flex-wrap: wrap;

}

.articulos{
    background-image: linear-gradient(rgba( 5, 7, 12,0.75), rgba( 5, 7, 12,0.75));
   display: flex;
   justify-content: space-around;
   max-width: 100vw;
   flex-direction: row;
    flex-wrap: wrap;
    color: rgb(162, 162, 162);
padding: 50px;
}
.articulos img:hover{
    scale: 1.1;
    transition: 0.1s;
}

.articulos img {
    width: 250px;
    padding: 15px;
    transition:0.1s ease-out;
}
.articulos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.articulos div p {
  width: 292px;
  padding-top: 15px ;

}
.articulos div h2 {
    background-color: beige;
padding: 12px;
width:max-content;
}

.main-sobre-nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    max-width: 100vw;
    background-color: rgba(5, 7, 12, 0.75);
    color: rgb(162, 162, 162);
}
.main-sobre-nosotros img{
    padding: 15px;
}
.sn { text-align: center;
    max-width: 600px;
}
.formulario {
    display: flex;
    flex-direction: column;
}

.comentario {
    height: 150px;
}
.map{
    width: 600px;
}


.main-productos{
font-size: xx-large;
    min-height: 80vh;
    max-width: 100vw;
    text-align: center;
    height: 100%;
    background-image: linear-gradient(rgba( 5, 7, 12,0.75), rgba( 5, 7, 12,0.75));
    color: rgb(162, 162, 162);
}

.main-productos h1 {
    background-color: rgb(100, 100, 100);
    padding: 30px;
}

.productos {
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    grid-template-columns:50% 50%;
    grid-template-rows: repeat(4, 2fr) ;
    grid-auto-flow: row;
    gap: 0% 0%;
grid-template-areas: 
"producto-1 textos-1"
"producto-2 textos-2 "
"producto-3 textos-3"
"producto-4 textos-4";
    
}
.producto-1{
    grid-area: producto-1;
    
}
.producto-2{
    grid-area: producto-2;
    
}
.producto-3{
    grid-area: producto-3;
}
.producto-4{
    grid-area: producto-4;
}

.productos h2{
    background-color: rgb(214, 214, 171);
    max-width: 900px;
}
.productos img{
    max-width: 800px;
    padding: 25px;
    transition: 0.1s ease-out;
}
.productos img:hover{
    scale:1.02;
    transition: 0.1s;
}

.textos-1{
    grid-area: textos-1;
 padding: 15px;
    
    
   
}
 .textos-2{
    grid-area: textos-2;
    padding: 15px;
    
}
.textos-3{
    grid-area: textos-3;
    padding: 15px;
}
.textos-4{
    grid-area: textos-4;
    padding: 15px;
}
.main-proyecto{

    background-image: linear-gradient(rgba( 5, 7, 12,0.75), rgba( 5, 7, 12,0.75));
}
.main-proyecto h1{
    font-size: xx-large;
text-align: center;
color: rgb(162, 162, 162);
}
.proyectos{
    color: rgb(162, 162, 162);
    background-image: linear-gradient(rgba( 5, 7, 12,0.75), rgba( 5, 7, 12,0.75));
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "edif-tx edif"
    "inst inst-tx";
    align-items: center;
    justify-items: center;
    max-width: 100vw;
}
.inst{
    grid-area: inst;
}
.edif{
    grid-area: edif;
}
.edif-tx{
    text-align: center;
    max-width: 600px;
    padding: 40px;
    grid-area: edif-tx;
}
.edif-tx h2{
    background-color: beige;
    font-size: xx-large;
    text-decoration:dashed;
    padding: 15px;
}
.edif-tx p {
    font-size: larger;
}
.inst-tx {
    text-align: center;
    grid-area: inst-tx;
    max-width: 600px;
    padding: 40px;
}
.inst-tx h2 {
    background-color: beige;
    font-size: xx-large;
    text-decoration:dashed;
    padding: 15px;
}
.inst-tx p {
    font-size: larger;
}
.proyectos img{
    width: 800px;
    padding: 50px;
}
.presentacion{
    grid-area: h1;
}
.main-cyc{
    text-align: center;
    display: grid;
    grid-template-columns:25% 25% 25% 25% ;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "h1 h1 h1 h1"
    "pintura madera micro aluar"
    

    ;
    min-height: 80vh;
    min-width: 100vw;
    color: rgb(162, 162, 162);
    background-image: linear-gradient(rgba( 5, 7, 12,0.75), rgba( 5, 7, 12,0.75));
    
}
.colores-pintura{  background-color: rgb(59, 61, 60);
    padding: 40px;
    grid-area: pintura;
}
.colores-simil-madera{
    background-color: rgb(59, 61, 60);
    padding: 40px;
    grid: madera;
}
.colores-microtexturado {
    background-color: rgb(59, 61, 60);
  grid-area: micro;

  padding: 40px;
}
.aluar {
    background-color: rgb(59, 61, 60);
    padding: 40px;
   
    grid-area: aluar;
}
.main-cyc img{
    max-width: 400px;
    height: 350px;
}

.footer {
    display: flex;
    background-color: rgb(92, 92, 92);
    color: rgb(168, 168, 168);
    justify-content: center;
    min-height: 10vh;
    max-width: 100vw;
    flex-wrap: wrap;

}

/* .redes {
    color: rgb(168, 168, 168);
    display: flex;
    justify-content: space-around;
    
} */
/* mobile last */
@media (max-width: 500px) { 
    
    .header {
        max-width: 100vw;
        justify-content:space-between;
        align-items: flex-start;
    }
   
    .main{
        max-width: 100%;
        
    }
    .main-sobre-nosotros{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }
    .main-sobre-nosotros img {

        max-width: 350px;

    }
    .sn { 
        max-width: 300px;
    }
    
     .formulario {
        max-width: 300px;
        
       
    }
   .map{
    width: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
   }
  
  button:focus:not(:focus-visible) {
   
    outline: 0;
    box-shadow: none;


}

/* .container-fluid{
    
    justify-content: flex-end !important;
} */
    
}
    
.articulos div {
    padding: 20px;
}
   
    .articulos{
        
       text-align: center;
    justify-content: center;
    }
    .articulos p {
        
    }
    .footer {
        max-width: 100vw;
        
    }
   
   

